<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <title>{{ title }}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" >
                    <a class="nav-link text-black hover:text-green-500" href="/home" >Welcome {{auth.name}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black hover:text-green-500" href="/profile">Profile, balance: {{ auth.balance }}$</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black hover:text-green-500" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">
                        <script> document.write(new Date().toLocaleDateString()); </script>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="example">
    <form class="example border-gray-300" action="/home/search">
        <input type="text" placeholder="Search for Stock..." name="stock">
    </form>
</div>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">Markets today</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
        {
            "symbols": [
            {
                "proName": "FOREXCOM:SPXUSD",
                "title": "S&P 500"
            },
            {
                "proName": "FOREXCOM:NSXUSD",
                "title": "US 100"
            },
            {
                "proName": "FX_IDC:EURUSD",
                "title": "EUR/USD"
            },
            {
                "proName": "BITSTAMP:BTCUSD",
                "title": "Bitcoin"
            },
            {
                "proName": "BITSTAMP:ETHUSD",
                "title": "Ethereum"
            }
        ],
            "showSymbolLogo": true,
            "colorTheme": "light",
            "isTransparent": false,
            "displayMode": "adaptive",
            "locale": "en"
        }
    </script>
</div>
<!-- TradingView Widget END -->
<table class="table-auto shadow-md rounded m-4 " >
    <tbody>
    <div class="container m-4">
        <div class="row">
            {% for stock in stocks %}
                <div class="col-4"  href="/search" onclick="window.location.href='/home/search?stock={{stock.symbol}}'">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Stock Name: {{stock.name}}</h5>
                            <p class="card-text">Stock Current Price is: {{stock.currentPrice}} $</p>
                            {% if stock.priceChange < 0 %}
                                <p class="text-danger">Stock Price change is: {{stock.priceChange}} $ <i class="fas fa-caret-down"></i></p>
                            {% else %}
                                <p class="text-success">Stock Price change is: {{stock.priceChange}} $ <i class="fas fa-caret-up"></i></p>
                            {% endif %}
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Buy / Sell Stock
                            </button>
                        </div>
                    </div>
                </div>
            {%  endfor %}
        </div>
    </div>
    </tbody>
</table>

</body>
</html>